/* Universal Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500&family=Roboto&display=swap');

.head-text {
    color: #4A4A4A;
    ;
}

.p-text {
    color: #777777;
}

.btn-bg {
    background-color: #289BDE;
}

.working-bg {
    background-color: #F4FAFD;
    ;
}

.icon a {
    text-decoration: none;
    size: 100px;
}


/* media Queries */
@media only screen and (max-width: 767px) {
    .carousel-item {
        height: 260px;
        width: 335px;
    }

    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption p {
        font-size: 12px;
    }

    .carousel-caption button {
        --bs-btn-padding-y: .25rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: .75rem;
    }
}